@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root
{
    --main-color: #24b300;
    --blue: #7c7cd1;
    --blue-dark: #1a3757;
    --orange: #ffa600a8;
    --green-yellow: #adbb33;
    --pink-light: #baefa2;
    --cyan-light: #aef1c2;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px)

}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before,
::after
{
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
    background-attachment: fixed;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 300;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 35px 15px;
}


body::before
{
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--green-yellow);
    z-index: -1;
    opacity: 0.12;
}

a
{
    text-decoration: none;
}

h1,h2
{
    font-weight: 600;
}
h3,h4,h5,h6
{
    font-weight: 500;
}
ul
{
    list-style: none;
}

img
{
    max-width: 100%;
    vertical-align: middle;
}

section
{
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: calc(100vh - 70px);
    border-radius: 30px;
    backdrop-filter: var(--backdrop-filter-blur);
    display: none;
}

section.active
{
    display: block;
    animation: fadeIn .5s ease-in-out forwards;
}

section.fade-out
{
    animation: fadeOut .5s ease-in-out forwards;
}

.main
{
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.container
{
    padding: 0 40px;
    width: 100%;
}

.align-items-center
{
    align-items: center;
}

.hidden
{
    display: none !important;
}

.sec-padding
{
    padding: 80px 0;
}

.flex-end
{
    justify-content: flex-end;
}

.section-title
{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.section-title h2
{
    font-size: 40px;
    text-transform: capitalize;
}

::-webkit-scrollbar
{
    width: 5px;
}
::-webkit-scrollbar-track
{
    background-color: var(--white);
}

::-webkit-scrollbar-thumb
{
    background-color: var(--main-color);
}

.btn
{
    line-height: 1.5;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease-in;
}

.btn::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease-in;
}

.btn:hover:before
{
    width: 100%;
}

.btn:hover
{
    color: var(--white);
}

@keyframes fadein
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes fadeOut
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

@keyframes zoomInOut
{
    0%,100%
    {
        transform: scale(0.5);
    }
    50%
    {
        transform: scale(1);
    }
}

@keyframes bunceTop
{
    0%, 100%
    {
        transform: translateY(-50px);
    }
    50%
    {
        transform: translateY(0);
    }
}

@keyframes spin
{
    0%
    {
        transform: rotate(0);
    } 
    100%
    {
        transform: rotate(360deg);
    }   
}

.bg-circles
{
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 1200px;
    width: calc(100% - 30px);
    left: 50%;
    transform: translateX(-50%);
}

.bg-circles div
{
    position: absolute;
    border-radius: 50%;
}

.bg-circles .circle-1
{
    height: 60px;
    width: 60px;
    background-color: var(--blue);
    left: 5%;
    top: 10%;
    opacity: 0.3;
    animation: zoomInOut 8s linear infinite;
}

.bg-circles .circle-2
{
    height: 80px;
    width: 80px;
    background-color: var(--main-color);
    left: 30%;
    top: 50%;
    opacity: 0.4;
    animation: bunceTop 5s ease-in-out infinite;
}

.bg-circles .circle-3
{
    height: 120px;
    width: 120px;
    background-color: var(--white);
    top: 40%;
    right: -60px;
    opacity: .6;
}


.bg-circles .circle-4
{
    height: 50px;
    width: 50px;
    background-color: var(--orange);
    top: 80%;
    left: -30px;
    opacity: 0.6;
}

.overlay
{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 200;
    visibility: hidden;
}
.overlay.active
{
    visibility: visible
}

.row
{
    display: flex;
    flex-wrap: wrap;
}



.header
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px 0 0 ;
}

.header.active
{
    position: fixed;
    top: 35px;
    padding: 20px 15px;
}

.header.active .container
{
    max-width: 1200px;
    margin: auto;
}


.header .nav-toggler
{
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

.header .nav-toggler.hide
{
    opacity: 0;
    transition: none;
}

.header .nav-toggler span
{
    height: 2px;
    width: 24px;
    background-color: var(--main-color);
    position: relative;
    transition: background-color 0.3s ease;
}

.header.active .nav-toggler span
{
    background-color: transparent;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after
{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transition: all .3s ease;
}

.header .nav-toggler span::before
{
    left: 0;
    transform: translateY(-8px);
}

.header.active .nav-toggler span::before
{
    transform: rotate(45deg);
}

.header .nav-toggler span::after
{
    right: 0;
    transform: translateY(8px);
}

.header.active .nav-toggler span::after
{
    transform: rotate(-45deg);
}

.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after
{
    width: 50%;
}

.header .nav
{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 35px 15px;
    overflow-y: auto;
    visibility: hidden;
}

.header.active .nav
{
    visibility: visible;
}

.header .nav-inner
{
    min-height: calc(100vh - 70px);
    max-width: 1200px;
    margin: auto;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter-blur);
    padding: 50px 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}

.header.active .nav-inner
{
    opacity: 1;
}

.header .nav-inner ul li
{
    text-align: center;

}

.header .nav-inner ul li a
{
    font-size: 40px;
    text-transform: capitalize;
    color: var(--blue-dark);
    display: block;
    font-weight: 500;
    padding: 8px 15px;
    transition: color .3s ease;
    position: relative;
}

.header .nav-inner ul li a::before
{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 0%;
    background-color: var(--white-alpha-25);
    z-index: -1;
    transition: width .3s ease;
}

.header .nav-inner ul li a:hover:before
{
    width: 100%;
}

.header .nav-inner ul li a:hover
{
    color: var(--main-color);
}

.home-section
{
    padding: 120px 0;
}

.home-section.active
{
    display: flex;
}

.home-text,
.home-img
{
    width: 50%;
    padding: 15px;
}

.home-text p
{
    font-size: 18px;

}

.home-text h1
{
    font-size: 50px;
    text-transform: capitalize;
}

.home-text h2
{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 30px;
}

.home-text .btn
{
    margin: 0 15px 15px 0;
}

.home-img .img-box
{
    max-width: 360px;
    background-color: var(--white-alpha-25);
    border-radius: 50%;
    border: 8px solid var(--white-alpha-25);
    margin: auto;
}

.home-img .img-box img
{
    width: 100%;
    border-radius: 50%;
}

.about-img
{
    width: 40%;
    padding: 0 15px;
}

.about-text
{
    width: 60%;
    padding: 0 15px;
}

.about-img .img-box
{
    background-color: var(--white-alpha-25);
    max-width: 380px;
    border: 1px solid var(--white-alpha-40);
    margin: auto;
    border-radius: 10px;
}

.about-img .img-box img
{
    width: 100%;
    border-radius: 10px;
}

.about-text h3
{
    text-transform: capitalize;
    font-size: 20px;
    margin: 20px 0;
}

.about-text .skills
{
    display: flex;
    flex-wrap: wrap;
}

.about-text .skills-item
{
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 5px 15px;
    text-transform: capitalize;
    margin: 0 15px 15px 0;
    border-radius: 20px;
}

.portfolio-section
{
    padding-bottom: 50px;
}

.portfolio-item
{
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
}

.portfolio-item-thumbnail
{
    padding: 10px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 10px;
    overflow: hidden;
}

.portfolio-item-thumbnail img
{
    width: 100%;
    border-radius: 10px;

    transition: all 0.3s ease-in-out;
}

.portfolio-item-thumbnail:hover img
{

    transform: scale(1.2);
}
.portfolio-item h3
{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.contact-form,
.contact-info
{
    width: 50%;
    padding: 0 15px;
}

.contact-form .input-group
{
    width: 100%;
    margin-bottom: 30px;
}
.contact-form .input-control::placeholder{
    color: var(--blue-dark);
    opacity: 0.8;
    font-weight: 300;
}

.contact-form .input-control
{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--white-alpha-25);
    padding: 0 20px;
    color: var(--blue-dark);
    border: 1px solid transparent;
    transition: border-color 0.3s ease-in;
}
.contact-form .input-control:focus
{
    border-color: var(--white-alpha-40);
}
.contact-form textarea.input-control 
{
    height: 120px;
    resize: none;
    margin-bottom: 15px;
}

.contact-info-item
{
    margin: 0 0 30px;
    padding: 0 0 0 20px;
}

.contact-info-item h3
{
    font-size: 20px;
    text-transform: capitalize;
    max-width: 0 0 5px;
}

.contact-info-item a
{
    color: var(--blue-dark);
}

.contact-info-item .social-links a 
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    color: var(--main-color);
    border-radius: 50%;
    margin: 6px 4px 0 0;
    transition: all 0.3s ease;
}

.contact-info-item .social-links a:hover
{
    color: var(--white);
    background-color: var(--main-color);
}

/* Responsive */
@media(max-width:991px)
{
    .container
    {
        padding: 0;
    }
    .home-text,
    .home-img
    {
        width: 100%;
    }
    .home-text
    {
        text-align: center;
    }
    .home-img
    {
        order: -1;
    }
    .home-img .img-box
    {
        max-width: 300px;
    }
    .home-text .btn
    {
        margin: 0 7px 15px;
    }
    .portfolio-item
    {
        width: calc(50% - 30px);
    }
}

@media(max-width:767px)
{
    .contact-form, 
    .contact-info,
    .about-img,
    .about-text
    {
        width: 100%;
    }
    .about-text
    {
        margin-top: 30px;
    }
    .portfolio-item
    {
        width: calc(100% - 30px);
    }
    .contact-info
    {
        order: -1;
        margin-bottom: 15px;
    }
    .contact-info-item
    {
        padding: 0;
    }
}

@media(max-width:575px)
{
    .section-title h2,
    .header .nav-inner ul li a 
    {
        font-size: 35px;
    }
    .home-text h1
    {
        font-size: 30px;
    }
    .home-text h2
    {
        font-size: 18px;
    }
}