@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a
{
    text-decoration: none;
}

.none 
{
    display: none;

}

:root{
    --blue: #0e1538;
    --blue-shadow: #0e1538c9;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body
{

    min-height: 100vh;
    overflow:scroll;

}

.container
{
    position: relative;
    width: 100%;
}

.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active
{
    width: 80px;
}

.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    list-style: none;border-top-left-radius: 30px;
    list-style: none;border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered
{
    background: var(--white);
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a 
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a
{
    color: var(--blue);
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon
{
    font-size: 1.75em;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* cuver outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* main */

.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active
{
    width: calc(100% - 80px); 
    left: 80px;
}

.topbar
{
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: var(--white);
}

.toggle
{
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label
{
    position: relative;
    width: 100%;

}

.search label input 
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1em;
}

.user
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBox
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.cardBox .cards 
{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    animation: cardEntrance 700ms ease-in;
}

.cardBox .cards .numbers
{
    position: relative;
    font-weight: 500;
    font-size: 2.3em;
    color: var(--blue);
}

.cardBox .cards .cardName
{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .cards .iconBox
{
    font-size: 3em;
    color: var(--black2);
}

.cardBox .cards:hover
{
    background: var(--blue);
}

.cardBox .cards:hover .numbers,
.cardBox .cards:hover .cardName,
.cardBox .cards:hover .iconBox
{
    color: var(--white);
}

.work 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-title 
{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
}
.work-content 
{
    font-weight: 600;
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 1rem;
}
.work-text 
{
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    margin-bottom: 2rem;
}
.work-card 
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    background: var(--white);

    padding-bottom: 20px;
}

.work-card-1:hover,
.work-card-2:hover
{
    color: var(--white);
    background: var(--blue);
}
.work-card-1,
.work-card-2
{
    min-width: 300px;
    height: 100px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.308);
}
.icon-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.icon-btn ion-icon
{
    font-size: 2em;
    margin-right: 10px;
}

.icon-btn h4{
    font-size: 1.7em;
}

.work-card-1 p,
.work-card-2 p 
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.work__btn 
{
    min-width: 300px;
    padding: 10px;
    color: #fff;
    background: var(--blue);
    border-radius: 9999px;
    border: none;
    transition: background .2s ease-in;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.work__btn:hover
{
    background: var(--blue-shadow);
}


/* footer */

.footer 
{
    background: #05060e;
    color: var(--white);
    margin-top: 20px;
    position: absolute;
    border-top: 1px solid var(--blue);
    width: 100%;  
    height: 200px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-content 
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-content__text 
{
    text-align: center;
    font-style: bold;
    font-size: 1.2em;
    padding-top: 20px;
}
.footer-content__social 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 1.2em;
}
.footer-content__social a
{
    padding-left: 5px;
}
.footer-content__initiative 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    font-size: 1em;
}
.footer-content__initiative p
{
    width: 170px;
}

.owner
{
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--blue);
    box-shadow: 0 1px 2px snow ;
    padding: 5px;
    object-fit: cover;
}

.owner h1
{
    text-align: center;
    font-size: 23px;
    color: var(--white);
}

.owner p
{
    color: var(--white);
    font-size: 12px;
}


/* now, make it responsive design */
@media (max-width: 991px)
{
    .navigation
    {
        left: -300px;
    }
    .navigation.active
    {
        width: 300px;
        left: 0;
        z-index: 10;
    }

    .main
    {
        width: 100%;
        left: 0;
    }
    .main.active
    {
        left: 300px;
    }
    .cardBox
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 480px)
{
    .cardBox
    {
        grid-template-columns: repeat(1,1fr);
    }
    .user
    {
        min-width: 40px;
    }
    .navigation
    {
        width: 100%;
        left: -100%;
        z-index: 10000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }

    .toggle 
    {
        z-index: 10001;
    }

    .main.active.toggle 
    {
        color: var(--white);
    }
}